<body class="page blog-page">
    <div class="all-wrapper">

        {{> blocks/scroll-top }}

        <header class="page-header page-header--blog">
            <div class="page-header__background background"></div>
            <div class="page-header__nav">
                {{> navigation}}
            </div>

            <div class="container">
                <h1 class="page-header__title page-header__title--fade"> </h1>
                <span class="page-header__subtitle page-header__subtitle--hidden">Handmade soap</span>
            </div>


            <div class="page-header__slider">
                <div class="blog-slider">
                    <div class="blog-slider__item">
                        <div class="blog-slider__image">
                            <img src="./assets/images/slider/aroma/fade/coffee-fade.png" alt="Кофейные зерна" class="blog-slider__img">
                        </div>
                    </div>
                    <div class="blog-slider__item">
                        <div class="blog-slider__image">
                            <img src="./assets/images/slider/aroma/fade/orange-fade.png" alt="Сочный апельсин" class="blog-slider__img">
                        </div>
                    </div>
                    <div class="blog-slider__item">
                        <div class="blog-slider__image">
                            <img src="./assets/images/slider/aroma/fade/strawberry-fade.png" alt="Спелая клубника" class="blog-slider__img">
                        </div>
                    </div>
                    <div class="blog-slider__item">
                        <div class="blog-slider__image">
                            <img src="./assets/images/slider/oil/fade/argan-fade.png" alt="Аргановое масло" class="blog-slider__img">
                        </div>
                    </div>
                    <div class="blog-slider__item">
                        <div class="blog-slider__image">
                            <img src="./assets/images/slider/oil/fade/coconut-fade.png" alt="Кокосовое молоко" class="blog-slider__img">
                        </div>
                    </div>
                    <div class="blog-slider__item">
                        <div class="blog-slider__image">
                            <img src="./assets/images/slider/oil/fade/shea-fade.png" alt="Масло ши" class="blog-slider__img">
                        </div>
                    </div>
                </div>
            </div>

            <span class="page-header__slogan">Создай себе летнее настроение</span>

            <button class="page-header__button button js-blog-action">Узнать больше</button>

        </header>


        <section class="blog">
            <div class="blog__background background"></div>
            <div class="container">
                <div class="blog__inner">

                    <div class="blog__articles" id="articles">
                        {{#each articles}}
                            <article class="blog-article" id="article-{{@index}}">

                                <header class="blog-article__header">
                                    <h2 class="blog-article__title">{{#each this}}{{title}}{{/each}}</h2>
                                    <span class="blog-article__subtitle">{{#each this}}{{subtitle}}{{/each}}</span>
                                </header>

                                <div class="blog-article__content">
                                    <picture>
                                        <source media="(max-width: 600px)" data-srcset="{{#each this}}{{src}}{{/each}}-mobile.jpg">
                                        <img data-src="{{#each this}}{{src}}{{/each}}.jpg" alt="мыло ручной работы" class="blog-article__image lazyload">
                                    </picture>
                                    <div class="blog-article__text">{{#each this}}{{{text}}}{{/each}}</div>
                                </div>
                            </article>
                        {{/each}}
                    </div>

                </div><!--blog inner-->
            </div><!--container-->
        </section>


        {{> subscribe }}
        {{> footer }}
        <div class="modal-overlay">
            {{> modal/modal-thanks}}
        </div>

    </div><!--all wrapper-->
    {{> scripts }}
</body>